.container-fluid.full-vph{
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    border-radius: 2px;
    border:1px solid #e6e6e6;
}

.posts{
    margin-top: 5px;
    display: flex;
    flex-flow: column nowrap;
}

.posts-row{
    display:flex;
    background-color: whitesmoke;
    flex-flow: row nowrap;
    justify-content: center;
}

.posts-child{
    width: 50%; /*to match ratio*/
    max-width: 280px;
    max-height: 280px;
    border: 1px solid #f6f6f6;
    min-width: 90px;
    min-height: 90px;

    background-color: white;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.posts-child:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.post-img{
    position:  absolute;  /* adjust content to match ratio*/
	top: 0;
	left: 0;
	bottom: 0;
    right: 0;
    
    background-position: center;
    background-size: cover;
}

.post-img:hover {
    background-color:rgba(0, 0, 0, 0.3);
    
}

.post-img:before {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: inherit;
    content: ' ';
}

.post-tag{
    width: 100%;
    height: 100%;
    font-size: 1em;
    padding: 5px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(max-height: 500px){
    .container-fluid.full-vph{
        height: 100%;
    }

    .login-form{
        margin: 10px
    }
}

@media(max-width: 430px){
    .login-form{
        background-color: whitesmoke;
        border: 0px solid #e6e6e6;
    }
}